{% extends 'store/main.html' %} {% load static %} {% block content %}
<h3>Checkout</h3>
<div class="row">
  <div class="col-lg-6">
    <div class="box-element" id="form-wrapper">
      <form id="form">
        {% csrf_token %}
        <div id="user-info">
          <div class="form-field">
            <input
              required
              class="form-control"
              type="text"
              name="name"
              placeholder="Name.."
            />
          </div>
          <div class="form-field">
            <input
              required
              class="form-control"
              type="email"
              name="email"
              placeholder="Email.."
            />
          </div>
        </div>

        <hr />
        <input
          id="form-button"
          class="btn btn-success btn-block"
          type="submit"
          value="Continue"
        />
      </form>
    </div>

    <br />
    <div class="box-element hidden" id="payment-info">
      <label> Make Payment through</label>
      <button onclick="payWithPaystack()" class="btn btn-success">
        Paystack
      </button>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="box-element">
      <a class="btn btn-outline-dark" href="{% url 'cart' %}"
        >&#x2190; Back to Cart</a
      >
      <hr />
      <h3>Order Summary</h3>
      <hr />
      {% for item in items %}
      <div class="cart-row">
        <div style="flex: 2">
          <img class="row-image" src="{{item.product.imageURL}}" />
        </div>
        <div style="flex: 2">
          <p>{{item.product.name}}</p>
        </div>
        <div style="flex: 1">
          <p><strike class="naira">N</strike>{{item.product.price}}</p>
        </div>
        <div style="flex: 1">
          <p>x{{item.quantity}}</p>
        </div>
      </div>
      {% endfor %}
      <h5>Items: {{order.get_cart_items}}</h5>
      <h5>
        Total:
        <strike class="naira">N</strike>{{order.get_cart_total|floatformat:2}}
      </h5>
    </div>
  </div>
</div>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script type="text/javascript">
  function payWithPaystack() {
    let currency = "NGN";
    let plan = "";
    let ref = "jeieidjj";

    // Get the email and amount from the form
    let email = document.querySelector('input[name="email"]').value;
    let amount = "{{order.get_cart_total|floatformat:2}}";
    let obj = {
      key: "pk_test_b04a947db14b425372c27133de8728446d307524",
      email: email,
      amount: amount * 100,
      ref: ref,
    };

    // Log the values before creating the Paystack object
    console.log("Payment Data:");
    console.log("User Email:", email);
    console.log("Currency:", currency);
    console.log("Plan:", plan);
    console.log("Reference:", ref);
    console.log("Amount:", amount);

    if (Boolean(currency)) {
      obj.currency = currency.toUpperCase();
    }
    if (Boolean(plan)) {
      obj.plan = plan;
    }
    var handler = PaystackPop.setup(obj); // Corrected variable name here
    handler.openIframe();
  }

  //this is the code to seperate digital from non-digital products
  var shipping = "{{order.shipping}}";
  var total = "{{order.get_cart_total}}";

  if (shipping == "False") {
    document.getElementById("shipping-info").innerHTML = "";
  }

  if (user != "AnonymousUser") {
    document.getElementById("user-info").innerHTML = "";
  }

  if (shipping == "False" && user != "AnonymousUser") {
    //hide entire form if user is logged in and shipping is false
    document.getElementById("form-wrapper").classList.add("hidden");
    //show payment if logged in user wants to buy an item that does not require shipping
    document.getElementById("payment-info").classList.remove("hidden");
  }

  var form = document.getElementById("form");
  csrftoken = form.getElementsByTagName("input")[0].value;
  console.log("Newtoken", form.getElementsByTagName("input")[0].value);
  form.addEventListener("submit", function (e) {
    e.preventDefault();
    console.log("form submitted.....");
    document.getElementById("form-button").classList.add("hidden");
    document.getElementById("payment-info").classList.remove("hidden");
  });

  document
    .getElementById("make-payment")
    .addEventListener("click", function (e) {
      submitFormData();
    });
  function submitFormData() {
    console.log("payment button clicked");

    var userFormData = {
      name: null,
      email: null,
      total: total,
    };
    var shippingInfo = {
      address: null,
      city: null,
      state: null,
      zipcode: null,
    };
    if (shipping != "False") {
      shippingInfo.address = form.address.value;
      shippingInfo.city = form.city.value;
      shippingInfo.state = form.state.value;
      shippingInfo.zipcode = form.zipcode.value;
    }
    if (user == "AnonymousUser") {
      userFormData.name = form.name.value;
      userFormData.email = form.email.value;
    }

    var url = "/process_order/";
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({ form: userFormData, shipping: shippingInfo }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Success: ", data);
        alert("Transaction Completed: Thank you For Buying..");
        cart = {};
        document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
        window.location.href = "{% url 'store' %}";
      });
  }
</script>
{% endblock content %}
